body {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1 {
  font-size: 5em;
  transition: 0.5s ease;
}

h1:hover {
  font-size: 4em;
}
